extends ../layout

block content
  nav.top
    a.logo(href="#") CYH
    ul
      li
        a(href="#") Archive
      li
        a(href="#") About
      li
        a(href="#") Connect
      li
        a.btn_login Sign in
  header.top_header
    .header_container
      .header_content
        h1 
          p CYH
          p hello everyone
    .bg_img

  
  script(src="/js/index.js")
    